/**universal styles**/
body {
    background-color:white;
}
ul {
  list-style:none;
}
p {
  text-align:center;
  font-size:20px;
}
/**index page**/
h1 {
  text-align: center;
  color:#153590;
}
ul.nav{
  height:auto;
  width:700px;
  display:block;
  padding-bottom:25px;
  margin-left:230px;
}
li.nav {
  display:inline;
  margin-right:250px;
  font-size:20px;
  color:red;
}

a.nav {
  color: red;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

img.image {
  border: 3px solid #153590;
}

.image {
  height: auto;
  width: auto;
  text-align:center;
}

.text {
  height: auto;
  width: 700px;
  margin-top:50px;
  margin-left:250px;
}
/**contact page**/
body.contact {
  background-color:#153590;
}
div.contactinfo {
  height:400px;
  width:300px;
  float:left;
  display:inline-block;
  margin-right:10px;
}

.social{
  margin-left:50px;
}

li#contact1 {
  margin-top:100px;
  font-size:24px;
  margin-left:0px;
  color:white;
}
li#contact2 {
  font-size:24px;
  margin-left:0px;
  color:white;
}

div.learnmore {
  height:auto;
  width:300px;
  text-align:center;
  margin-top:20px;
  margin-left:150px;
  float:left;
  clear:none;
  display:inline-block;
  color: white;
}

.two {
  border:2px solid white;
}

div.contact-form {
  height:300px;
  width:300px;
  /**float:right;**/
  clear:none;
  display:inline-block;
  margin-top:20px;
  margin-left:100px;
  margin-right:5px;
}

a.my-button{
  padding: 10px 12px;
  border: 1px solid red;
  color: yellow;
  background-color: #153590;
  text-decoration: none;
  border-radius: 5px;
}
a.my-button:hover{
  margin: 2px 0 0 2px;
  text-decoration: underline;
  color: yellow;
}

#submit_button{
  padding: 10px 12px;
  border: 1px solid red;
  color: yellow;
  background-color: #153590;
  text-decoration: none;
  border-radius: 5px;
}

label {
  color:yellow;
}

input{
  padding: 4px;
  font-size: 1.5em;
  font-family: "Arial", sans-serif;
  background-color:white;
  border-color: #153590;
  color: #153590;
}
